/** 
api/Cuisine_recipe 
*/
.card.Cuisine-recipe-show-review {
  width: 50%;
  margin-left: 25%;
  margin-top:0%;
}

.card.Cuisine-recipe-create-review{
  width: 50%;
  margin-left: 25%;
  margin-top:2%;
}

.Cuisine-recipe-create-review{
  margin: 5% 32%;
  width: 38%;
  height: 180px;
}
.Cuisine-recipe-card{
  margin:2% 18%;
}



@media screen and (max-width: 800px) {  
  .card.Cuisine-recipe-show-review {
    width: 100%;
    margin:0%;
    margin-top:5%;
  }
  
  .card.Cuisine-recipe-create-review{
    width: 100%;
    margin:0%;
    margin-top:5%;
    margin-bottom: 32%;
  }
}

.Cuisine-recipe-review-btn{
  width:50%;
  margin-left:25%;
  height: 27%;
}


/** 
api/Cuisine_search
*/

.Cuisine-home-item-img {
  width: 100%;
  height: 225px;
  max-width: 537px;
}

.Cuisine_home_pagination{
  position:relative;
  left: 40%;
  top:90%;

}

@media screen and (max-width: 800px) {  
  .Cuisine_home_pagination{
    position:relative;
    left:5%;
    top:3%;
  }
}



.Cuisine-choice-img{
  width:89%;
  cursor:pointer;
  
}

.Cuisine-choice-img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.Cuisine-recommend-title{
  padding-bottom:2rem;
}



/** Cusine-filter */
.Cuisine-filter-img{
  width: 60%;
  max-width: 377px;
  cursor: pointer;
  height:174px;
}

.Cuisine-filter-img:hover{
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

.Cuisine-filter-submitBtn{
  width:90%;
  margin-left:5%;
  margin-top:5px;
}


@media screen and (max-width: 800px) {  
  .Cuisine-filter-submitBtn{
    margin-top:10%;
    width:80%;
    margin-left:10%;
  }

  .Cuisine-filter-img{
    width: 100%;
    height:140px;
  }

  #col-md-4-id{
    width:50%;
    padding:0;
  }

  .col-md-4.filter{
    padding-left:0;
    padding-right:0;
    width:50%;
  }
  
  
  
}


.col-md-4.filter{
  padding-left:0;
  padding-right:0;
}



.card-img-top{
  height:350px;  
}

#recipe-img{
  width:50%;
}

#procedure{
  padding: 0.75rem 3rem;
}

@media screen and (max-width: 800px) {  
  
  #card-body-id{
    padding:0;
    padding-bottom: 1rem;
  }

  .card-img-top{
    height:250px;  
  }

  #recipe-img{
    width:100%;
  }
  #procedure{
    padding: .75rem 1.25rem;
    font-size:0.8rem;
  }

  #btn-font{
    font-size:0.7rem;
  }

}

.search-title{
  font-size:1rem;
  margin-bottom: 3rem;
  color:#353131;
}