.App-section-layout {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4%;
  text-align: center;
}

/** #fillter 
     /worldcup
     /filter
*/
#filter{
  margin-left: 17%;
  margin-right: 17%;
}

@media screen and (max-width: 800px) {  
  .App-section-layout {
    margin-bottom: 25%;
  }
  .App-section-layout .card{
    margin-left:0%;
    margin-right:0%;
  }
  .App-section-layout{
    font-size:0.8rem;
  }
  .App-section-layout h5{
    font-size:0.7rem;
  }
  #filter{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
    }
}





/** Cuisine_search_home, Cuisine_recommend_home*/


.App-section-layout2{
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.App-section-layout2 p{
 font-size:1.1rem;
}

@media screen and (max-width: 800px) {  
  .App-section-layout2 h5{
    font-size:0.8rem;
  }
  .App-section-layout2 p{
    font-size:0.8rem;
   }
}


.App-section-layout9{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.App-section-layout9 p{
 font-size:1.1rem;
}

@media screen and (max-width: 800px) {  
  .App-section-layout9 h5{
    font-size:0.8rem;
  }
  .App-section-layout9 p{
    font-size:0.8rem;
   }
}


/**Home, 평가 **/

.App-section-layout3{
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 800px) {  
  .App-section-layout3 p{
    font-size:0.8rem;
  }
}

/** About */

.App-section-layout4{
  margin-top: 11%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 800px) {  
  .App-section-layout4{
    margin-top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}


.Auth-section-layout {
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 8%;
}

@media screen and (max-width: 800px) {  
  .Auth-section-layout {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 6%;
  }
  ::placeholder{
    font-size:0.8rem;
  }
}
/** 회원가입, 로그인 layout*/

.Auth-signupcomplete-layout{
  margin-top:3%;
}

.title {
  color: #ffffff;
}
