


* {
  font-family: 'hanna' !important;
}

body {
  overflow-x: hidden;
}

h3 {
  text-align: center;
  color:black;
}
h4{
  color:black;
}

p {
  font-size: 1rem;
}

.navbar{
  background-color:black;
}

.left{
  text-align: left;
}
.center{
  text-align: center;
  margin-top:8%;
  margin-bottom: 8%;
}

.input-group-text{
  background-color: white;
  padding: 0.375rem 1rem;
  width:8rem;
  margin-left:10px;
  color:black;
}

.jumbotron{
  background-color:white;
  margin-left:5%;
  margin-right:5%;
  margin-bottom: 3%;
  
}

@media screen and (max-width: 800px) {  

  .jumbotron{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 6%;
  }

}


.inital{
  display:block;
}

.logo{
  width:110px;
}


.main-image{
  width:100%;
  max-height:400px;
}

.main-image2{
  width:64%;
  height:500px;
}

@media screen and (max-width: 770px) {  
  .main-image{
    width:100%;
    height:200px;
  }
  .main-image2{
    width:100%;
    height:400px;
  }
}

.btn-secondary{
  color: black;
  background-color: white;
  border-color: black;
}

.btn-secondary:hover{
  color: white;
  background-color: black;
  border-color: white;
}

.btn-info {
  color: black;
  background-color: white;
  border-color: black;
  color:black;
}
.btn-info:hover{
  color: white;
  background-color: black;
  border-color: #353131;
}


.btn-primary {
  color: black;
  background-color: white;
  border-color: #353131;
}

.btn-primary:hover {
    color: white;
    background-color: #353131;
    border-color: white;
}

@font-face {
  font-family: 'hanna';
  src: url('../util/font/Hanna.ttf') format('truetype');
}


@font-face {
  font-family: 'SCDream';
  src: url('../util/font/SCDream3.otf') format('otf');
}

