.Evaluation-div-layout {
  margin-top: 50px;
  font-size: 24px;
  color: black;
}

.Dev-table-layout {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  text-align: center;
  height: 74%;
}

@media screen and (max-width: 800px) {  
  .Dev-table-layout {
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 5%;
    text-align: center;
    height: 74%;
    font-size: 0.5rem;
  }
}

/** 개발자 목록 */


.comment{
  font-size:13px;
}

.mail-img{
  width: 50px;
  height: 50px;
}
.progress{
  margin-left:30%;
  margin-right:30%;
}

.section-title{  
  padding-top:1rem;
  font-size:1.2rem;
  color:  #a82400;
}


.normal{
  color:#9c9797;
}
.normal2{
  color:#797777;
}

.method-title{
  color:#252222;
}
.method-desc{
color:#b3acac;
}

input[type="password"] {
  font-family: 맑은고딕 !important;
  font-weight:bold;
}

.SCDream{
  font-family: SCDream !important;
}