.green{
    color:#00bf8f;
}
.blue{
    color:#4c68d7;
}
.purple{
    color: #8a3ab9;
}

.instagramblue{
    color:#125688;
}
.green{
    color:#4dc247;
}

.logoblue{
    color:#0072b1;
}
.main-color{
    color:black;
}
.black{
    color:black;
}